@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&family=Barlow&display=swap');
:root {
    --bg-color: rgb(30, 30, 30);
}


*{
    box-sizing: border-box;
    font-family: Barlow;
    font-size: 18px;
}

p {
    text-align: justify;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav ul{
    display: flex;
    margin: 0;
    padding: 0.5em;
}

.nav a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid transparent;
    margin: 0 10px;
    color: rgba(255,255,255,0.7);
}

.nav a:hover {
    color: white;
    border-bottom: 1px white solid;
}

.main-header {
    background-color: var(--bg-color);;
    background-size: cover;
    padding-bottom: 10px;
}

.page-title {
    text-align: center;
    margin: 0;
    font-family: Archivo Narrow;
    font-size: 2.5em;
    color: rgba(255,255,255,0.95);
}

.content-wrap {
    /* Used flexbox guide: https://css-tricks.com/couple-takes-sticky-footer/ */
    flex: 1 0 auto;
}

/*----UTILITIES----*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.section-head .section-head-text h1 {
    font-size: 40px;
    color: white;
}

.section-head .section-head-text p {
    color: white;
}

.section-head {
    background-color: var(--bg-color);
}

/*------------------------------ABOUT--------------------------------------*/
.about-image {
    max-width: 80%;
    min-width: 20%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    justify-self: center;
    align-self: center;
}

/*-------------------FOOTER----------------------------------------*/
.main-footer {
    background-color: var(--bg-color);;
    flex-shrink: 0;

}

.main-footer .container {
    display: flex;
    min-height: 0;
    justify-content: center;
    background-color:var(--bg-color);;
    align-items: center;
}

.main-footer .container ul {
    background-color: var(--bg-color);;
    padding: 0;
    align-content: center;
}

.footer-nav img {
    width: 30px;
    width: 30px;
}

.footer-nav a:hover {
    background-color: rgba(255,255,255,0.3);
}

/*------------------GALLERY-------------------------------------*/


.gallery-image {
    max-width: 30%;
    min-width: 200px;
    padding: 5px;
    object-fit: contain;
}

.gallery-content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/*-------------DESIGNS-------------------*/
.section-head.designs-section {
    background-color: var(--bg-color);
    height: 30%;
}
.section-head .container {
    min-height: 0;
}

.designs-cell {
    background-color:#fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    height: 95%;
}

.designs-cell img {
    height: 200px;
    padding: 20px;
}

.designs-cell .grid {
    justify-items: center;
    
}

.designs-cell a {
    border-bottom: 1px black solid;
}
.designs-cell a:hover {
    color: rgba(0,0,0,0.3);
    border-bottom: 1px rgba(0,0,0,0.3) solid;
}




/* tablets */
@media(max-width: 768px){
    .grid {
        grid-template-columns: 1fr;
    }

    .designs-cell {
        margin: 5px;
    }

    .designs-cell .grid {
        grid-template-columns: 1fr 1fr;
    }

    .main-footer {
        margin-top: 50px;
    }


    .gallery.container {
        padding: 0px;
    }

    .gallery-image {
        min-width: 30%;
        object-fit: cover;
    }

    .about-image {
        min-width: 80%;
    }
}

/* mobile */
@media(max-width: 500px){
    .container {
        padding: 0 20px;
    }

    .gallery-image {
        min-width: 50%;
    }
    .designs-cell .grid {
        grid-template-columns: 1fr;
    }


}